@import "~normalize.css/normalize";
@import "~mappy-breakpoints/mappy-breakpoints";
@import "./files/animation";
@import "./files/setting";
@import "./files//util";
@import "./files/class";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Fira+Mono|Hind|Josefin+Sans|Poppins|Roboto');

body * {
  box-sizing: border-box;
}

body {
  background: $dark2;
  font-size: 14px;
  color: $gray;
  font-family: 'Open Sans', san-serif;
  letter-spacing: 1px;
}
