@import "~normalize.css/normalize";
@import "~mappy-breakpoints/mappy-breakpoints";
@import "./animation";
@import "./setting";
@import "./class";

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Fira+Mono|Hind|Josefin+Sans|Poppins|Roboto');

body * {
  box-sizing: border-box;
}

body {
  background: $dark2;
  font-size: 14px;
}
