section {
  margin-top: 80px;
}

.body-container {
  max-width: map-get($breakpoints, laptop);
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.skill-section {
}

.project-section {
  background: $dark1;
}

.flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
}

.header {
  margin: 30px auto;
}

.header--main-title__text {
  text-shadow: -1px -1px 99px rgba(255,255,255,0.9);
  font-size: 50px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.header--subtitle__text {
  font-size: 12px;
  font-family: 'Fira Mono', monospace;
  transform: translateY(-10px);
}

.header--main-title__cursor {
  font-weight: 100;
  font-size: 60px;
  color: $orange-light;
  animation: blink 1s infinite;
}

.about {
  margin-top: 60px;
}

.about-child-item {
  width: 48%;
}

.about--content__title {
  color: white;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.about--content__text {
  margin-top: 25px;
}

.about--image-slider__image {
  height: 340px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 3px;
}

.skill-box {
  width: 22%;
  border: solid 2px $dark1;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;

  &:hover { background: $dark1; }
}

.skill-title {
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.skill-image {
  height: 50px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.skill-content {
  text-align: center;
  font-size: 13px;
}
